:root {
  --runa-purple: #7a6ff0;
  --runa-white: #fff;
  --runa-blue: #352c60;
  --runa-grey: #e7e6ec;
}
* {
  font-family: Avenir;
  color: var(--runa-blue);
  box-sizing: border-box;
}
body {
  margin: 0;
}

h2 {
  margin: 0;
  text-align: center;
}

.navbar {
  height: 50px;
  padding: 10px;
  background-color: var(--runa-purple);
  color: var(--runa-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navbar p {
  color: var(--runa-white);
}

main {
  height: calc(100vh - 100px);
  padding: 20px;
  box-sizing: border-box;
}

#messages {
  height: calc(80vh - 150px);
  border: 2px solid var(--runa-purple);
  border-radius: 5px;
  margin: 10px 0;
  overflow-y: scroll;
}

.message {
  min-height: 30px;
  width: 80%;
  padding: 5px 10px;
  margin: 10px;
  box-sizing: border-box;
  background-color: var(--runa-grey);
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
}

.my-message {
  margin-left: calc(20% - 10px);
}

.message .message-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.message .message-user {
  font-size: 10px;
  font-weight: bolder;
}
.message p {
  margin: 0;
}

#form {
  width: 100%;
  box-sizing: border-box;
}

footer {
  height: 50px;
  padding: 10px;
  background-color: var(--runa-purple);
  color: var(--runa-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 5px;
  height: 30px;
  width: 100px;
  padding: 5px;
  cursor: pointer;
}

.input {
  border-radius: 5px;
  height: 30px;
  width: calc(100% - 105px);
  border: 1px solid var(--runa-purple);
  padding: 5px;
}

.btn-primary {
  border: 1px solid var(--runa-purple);
  color: var(--runa-white);
  background-color: var(--runa-purple);
}

.btn-secondary {
  border: 1px solid var(--runa-white);
  color: var(--runa-purple);
  background-color: var(--runa-white);
}

.btn:disabled {
  cursor: no-drop;
  opacity: 0.3;
}

.input:disabled {
  cursor: no-drop;
  opacity: 0.3;
}

.hidden {
  display: none;
}

.laFoto {
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

#errors {
  margin: 5px;
  color: red;
}
